body{
	margin: 0;
}
header{
	background-image: url(../imagens/fundo-slide-pagina-inicial.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	min-height: 425px;
	position: relative;
    display: flex;
    flex-direction: column;
}
/*texto*/
header p{
	color: white;
	text-align: center;
	text-transform:uppercase;
}
header h1{
	 margin: 150px auto 0;
	font-weight:100;
	color: white;
	text-align: center;
	text-transform:uppercase;
	border: solid 3px white;
	padding: 15px;
}
@media screen and (max-width: 440px) {
  header nav ul{
    display: none;
  }
  header h1,p{
  	font-size: 0.8rem;
  }
}
/*texto */

/*header logo*/
header .logo{
float: left;
width: 70px;
height: 35px;
}
header .logo img{
float: left;
width: 120px;
height: 75px;
}
	@media screen and (max-width: 996px) {
  header nav ul{
    display: none;
  }
  header .logo img{
  	    width: 100px;
    height: 52px;
  }header .logo {
  	    width: 100px;
    height: 52px;
  }
}
/*links**/
header .links{
	float: right;
}
header .links nav ul li{
	display: inline-block;
	margin: 0 10px 0 0;
}
header .links nav ul li a {
	text-transform: uppercase;
	color: white;
		text-decoration: none;
}
header .logo,.links{
	margin: 20px 0 0 ;
}
/*header links*/

/*header texto*/



/*header texto*/

/*header social*/
header nav,.social{
	display: inline-block;
}
header .social li{
	display: inline-block;
	margin: 0 10px 0 0;
}
header .social li a{
	color: white;
	display: block;
	border: 1px solid white;
	padding: 4px;
	line-height: 12px;
	text-align: center;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px;
}/*socia header*/

.container2{
	background-image: linear-gradient(white,#A0FAEB,#91E3D6,#71B0A5,#90E3E1);
	    height: 22px;
}


/*section itens*/
section .itens{
display: flex;
justify-content: space-around;
text-align: center;

}
section .coracao,.lapis,.compartilhar,.codigo{
	width: 90px;
	height:90px;
	background-color: #BDBEBF;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px;
	text-align: center;
	line-height: 85px;
	color: white;
	font-size: 28px;
	margin: 50px 0;
}
section .coracao{
	order: 4;
}
section .lapis{
	order: 1;
}
section .codigo{
	order: 2;
}
section .compartilhar{
	order: 5;
}
section .imagem img{
	width: 120px;
    height: 120px;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px;
	margin: 50px 0;

} 
section .imagem{
	order: 3;
}
/*section itens*/

/*section sobre*/
/*section sobre */


/*section texto*/
section .botao{
	display: table;
	margin: 20px auto;
	border:2px solid #000;
	color:#000;
	text-transform:uppercase;
	font-weight:700;
	transition:0.3s;
		text-decoration: none;
}
	section .botao:hover{border-color:#9ad15e;color:#9ad15e}
	section .botao:focus{border-color:#31b1e7;color:#31b1e7}

	section .textos{
		position:relative;
		min-height:1px;
		padding-left:15px;
		padding-right:15px;
		text-align:center;
	    font-family: arial;
    	text-align: center;
	}
	section p{
		color: black;
	}
/*section texto*/
@media screen and (max-width: 790px) {
section .itens{
	display: block;
}
section .itens .imagem{
	margin:  0 0 -20px 0;
}
section .coracao,.lapis,.compartilhar,.codigo{
	display: inline-block;
	width: 80px;
	height:80px;
	text-align: center;
	line-height: 80px;
	margin: auto;
}
}
@media screen and (max-width: 550px) {
section .coracao,.lapis,.compartilhar,.codigo,.imagem img{
	width: 45px;
	height:45px;
	line-height: 45px;
}
}

/* section .itens{
    flex-wrap: wrap;
}*/
/*footer*/

footer{
	background-image: linear-gradient(white,#A0FAEB,#91E3D6,#71B0A5);
	padding: 12px;
}
footer .logo-rodape img{
	width: 350px;
	height: 100px;
	margin: 35px auto;
	display: block;
	min-width: 300px;
}
footer p{
	text-align: center;
}
/*footer*/
